* {
    color: white;
    margin: 0px;
    font-family: Helvetica, serif;
    text-decoration: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: #1f2937;
    gap: 12em;
}

.nav img {
    height: 20px;
}

.navlinks a:hover {
    border-bottom: 1px solid white;
    font-weight: 500;
}

h1 {
    font-size: 35px;
}

p {
    color: #e5e7eb;
}

.enroll {
    height: 35px;
    width: 95px;
    background-color: green;
    color: white;
    border: none;
}

.first {
    background-color: #1f2937;
    height: auto;
    padding: 10px;
    margin: 0px;
    background-image: url("./res/odin.png");
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: right;
}

.hero {
    width: 50%;
}

.hero > * {
    margin-top: 10px;
}

.second {
    background-color: white;
    display: flex;
    justify-content: center;
}

.hooks {
    color: #1f2937;
    background-color: white;
    margin: 0px;
    text-align: center;
    padding: 5px;
}

.second div {
    background-color: #1f2937;
    padding-top: 5px;
    border-radius: 15px;
    margin: 0px 3px 0px 3px;
    flex: 1 1 0;
    text-align: center;
}

.second img {
    height: 80px;
    width: 80px;
}

.second p {
    font-size: 12px;
}

.third > * {
    background-color: white;
    color: #1f2937;
    font-size: 22px;
    font-style: italic;
    margin: 0px 25% 10px 25%;
    text-align: center;
    
}

.fourth {
    background: #1f2937;
    height: 50px;
    margin: 0px 20% 0px 20%;
    align-items: center;
    padding: 0px 8px 0px 8px;
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
}