* {
    color: white;
    margin: 0px 12px 0px 12px;
    font-family: Helvetica, serif;
    text-decoration: none;
    background-color: #1f2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background-color: #1f2937;
}

.nav img {
    height: 20px;
}

.navlinks a:hover {
    border-bottom: 1px solid white;
    font-weight: 500;
}

h1 {
    font-size: 35px;
}

.enroll {
    height: 35px;
    width: 95px;
    background-color: green;
    color: white;
    border: none;
}

.first {
    background-color: #1f2937;
    height: auto;
    padding: 10px;
    margin: 0px;
}

.hero {
    width: 50%;
}

.hero > * {
    margin-top: 10px;
}

.second {
    background-color: white;
    height: auto;
    display: flex;
    gap: 5px;
    justify-content: center;
}

.hooks {
    color: #1f2937;
    background-color: white;
    margin: 0px;
    text-align: center;
    padding: 5px;
}

.second div {
    background-color: #1f2937;
    padding-top: 5px;
    border-radius: 15px;
    flex: 1 1 0;
    text-align: center;
}

.third {
    height: 50px;
    margin: 0px 20% 0px 20%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}